#mainheader {
    height: 500px;
    background: url("../media/index/jumbotron.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}