{% extends "base_admin.html" %}
{% block title %}Activities{% endblock %}


{% block head %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Available Tours</h1>
    <div>
        <!-- Add Tour Form -->
        <form method="POST">
            {{ add_form.hidden_tag() }}
            <div class="mb-3">
                {{ add_form.event_name.label(class="form-label") }}
                {{ add_form.event_name(class="form-control") }}
                {% if add_form.event_name.errors %}
                    {% for error in add_form.event_name.errors %}
                        <div class="text-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ add_form.event_desc.label(class="form-label") }}
                {{ add_form.event_desc(class="form-control") }}
                {% if add_form.event_desc.errors %}
                    <div class="text-danger">
                        {{ add_form.event_desc.errors[0] }}
                    </div>
                {% endif %}
            </div>
            {{ add_form.submit(class="btn btn-success") }}
        </form>
    </div>
    <hr>
    <div>
        <h3>View Tours</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tour ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Departures</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tour in tours %}
                <tr>
                    <td>{{ tour.tour_id }}</td>
                    <td>{{ tour.name }}</td>
                    <td>{{ tour.description }}</td>
                    <td>{{ tour.departures|length }}</td>
                    <td>
                        <form method="POST" >
                            <a href="{{ url_for('edit_tour', tour_id=tour.tour_id) }}" class="btn btn-primary btn-sm">View More</a>
                            <input type="hidden" name="delete_tourid" value="{{ tour.tour_id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

</div>


{% endblock %}

