{% extends "base_admin.html" %}
{% block title %}Customers for Departure{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Customers for {{tourname}}: {{departure_date }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Purchase ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Seats</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.get_purchase_id() }}</td>
                <td>{{ customer.get_user_name() }}</td>
                <td>{{ customer.get_user_email() }}</td>
                <td>{{ customer.get_seats() }}</td>
                <td>
                    <button class="btn btn-info btn-sm" data-bs-toggle="collapse" data-bs-target="#seats{{ customer.get_purchase_id() }}">
                        View Seats
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="collapse" id="seats{{ customer.get_purchase_id() }}">
                        <div class="card card-body">
                            <h5>Seat Information</h5>
                            <ul class="list-group list-group-flush">
                                {% for i in range(customer.get_seats()) %}
                                <li class="list-group-item">
                                    <h4>Seat {{ i+1 }}:</h4> 
                                    {% if i < customer.get_passengers()|length %}
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Age</th>
                                                    <th>Passport No.</th>
                                                    <th>Contact No.</th>
                                                    <th>Email</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ customer.get_passengers()[i].get_name() }}</td>
                                                    <td>{{ customer.get_passengers()[i].get_age() }}</td>
                                                    <td>{{ customer.get_passengers()[i].get_passport_number() }}</td>
                                                    <td>{{ customer.get_passengers()[i].get_contact_number() }}</td>
                                                    <td>{{ customer.get_passengers()[i].get_email() }}</td>
                                                </tr>
                                            </table>

                                        </div>
                                    {% else %}
                                        <span class="text-muted">Unassigned</span>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
