{% extends "base_admin.html" %}

{% block title %}Admin Feedback{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Admin Feedback</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Rating</th>
                    <th>Product Rating</th>
                    <th>Feedback</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback_id, feedback in feedback_list.items() %}
<tr>
    <td>{{ feedback_id }}</td>
    <td>{{ feedback.rating1 }}</td>
    <td>{{ feedback.rating2 }}</td>
    <td>{{ feedback.feedback_text }}</td>
    <td>
        <form method="POST">
            <input type="hidden" name="feedback_id" value="{{ feedback_id }}">
            <button type="submit" name="delete" class="btn btn-danger">Delete</button>
        </form>
    </td>
</tr>
{% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
