{% extends "base.html" %}
{% block title %}View Tours{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container mt-5">
    <h3>View Tours</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Departures</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tour in tours %}
            <tr>
                <td>{{ tour.get_name() }}</td>
                <td>{{ tour.get_description() }}</td>
                <td>{{ tour.get_departures()|length }}</td>
                <td><a class="btn btn-outline-primary" href="{{ url_for('purchase_tour', tour_id=tour.get_tourID()) }}">Reserve</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
