{% extends "base.html" %}
{% block title %}Your Bookings{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center">Your Bookings</h1>
    {% if purchases %}
        <div class="list-group mt-5">
            {% for purchase in purchases %}
            <div class="list-group-item">
                <h5>Tour Name: {{ purchase.tour_name }}</h5>
                <p>Departure Date: {{ purchase.departure_date }}</p>
                <p>Seats Booked: {{ purchase.seats }}</p>
                <p>Purchase ID: {{ purchase.purchase_id }}</p>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">You have no bookings yet. Start exploring and booking tours!</p>
    {% endif %}
</div>
{% endblock %}